.ql-blank {
  margin-bottom: 0px;
  min-height: 2000px;
  background-color: rgb(114, 169, 212);
}

.ql-editor {
  min-height: 1000px;
  border-width: 20px;
  background-color: rgba(156, 193, 250, 0.95);
}

.ql-toolbar button {
  position: relative;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.ql-toolbar button:hover {
  transform: scale(1.2) rotate(10deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ql-toolbar button:active {
  transform: scale(0.9) rotate(-10deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.ql-toolbar button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}

.ql-toolbar button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.ql-toolbar button:active:before {
  width: 200%;
  height: 200%;
  opacity: 1;
}

.ql-toolbar {
  background-color: rgb(172, 218, 253);
}

.doc-heading {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.editor-menu-button {
  background-color: #ff9800;
  border: solid;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: 1.5rem;
}

.editor-menu-button:hover {
  transform: scale(1.05);
  background-color: #ffbb33;
}

.editor-menu-button:active {
  background-color: #e6c258;
}


.doc-title-input {
  font-size: 24px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  z-index: 2;
}

.doc-title-input:focus {
  border: 1.5px solid rgb(39, 122, 170);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.35);
  animation: glow 1.5s infinite;
}


@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(109, 109, 235, 0.5); 
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.9); 
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
  }
}

.options-container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}

@media (max-width: 800px) {
  .options-container {
    flex-direction: column; 
    align-items: flex-end; 
  }

  .editor-menu-button {
    margin-top: 11px;
  }
}